html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    color: black;
    overflow: hidden;
}
header {
    margin: 0;
    padding: 0 20px;
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}
ul{
    list-style: none;
}
.game {
    display: flex;
    height: 90vh;
}

.left, .right {
    width: 50%;
    box-sizing: border-box;
}

.left {
    background-color: #f0f0f0; /* Couleur de fond pour la démo */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.right {
    background-color: #ccc; /* Couleur de fond pour la démo */
    position: relative;
}
.tab1 {
    background-color: purple;
    margin-top: 30px;
}
.tab2 {
    background-color: yellow;
    margin-top: 30px;
}

.tabs {
    position: absolute;
    top: 0;
    left: 0;
}

.tabContent {
    display: none;
}

.tabContent.active {
    display: block;
}

#questions {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff; /* Couleur de fond pour la div des questions */
    padding: 20px;
    z-index: 9999; /* Pour être au-dessus de tout le reste */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Ombre pour la délimitation */
}

.planet{
    height: 70%;
    width: 70%;
    background: url('planetesaine.png');
    background-size: cover;
    animation: rotateBackground 30s linear infinite;
    pointer-events: none;
}

@keyframes rotateBackground {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.cliche {
    background-color: red;
    width: 50px;
    height: 50px;
    margin: 3px;
    position: absolute;
    top: 55vh;
    left: 45vh;
    transition: transform 15s ease-in-out;
}

.upgrade-button{
    display: flex;
    justify-content: space-between;
    width: 500px;
    height: 70px;
    align-items: center;
    padding: 10px;
    margin: 10px;
}

.upgrade-image{
    background-color: red;
    width: 50px;
    height: 50px;
}
#countChoice{
    display: flex;
    justify-content: space-between;
    margin: 10px
}
.Button:hover {
    cursor: pointer;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
    supported by Chrome, Edge, Opera and Firefox */
}